body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}


.headerbio {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    height: 50px;
    width: auto;
    margin-bottom: 0px;
}

.logo {
    padding-top: 0px;
    padding-bottom: 5px;
    width: 250px;
    height: auto;
}



.biography-image{
    display: block;
    margin: 0 auto;
    width: 350px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.booknow {
    width: 200px;
    height: 50px;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 100px;
}

.footer {
    text-align: left;
    border-top: 2px solid white;
    font-size: 15px;
    height: 50px;
    position: fixed;
}