body {
    height: 100vh;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    overflow: visible;
}

/* HEADER */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    height: 60px;
    width: auto;

    margin-bottom: 0px;
}

.logo {
    width: 250px;
    height: auto;
}
/* HERO */
.hero {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.hero-img {
    width: 300px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.pdiv {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.bio-button {
    width: 200px;
    height: 50px;
    font-size: 18px;
    border: 2px solid white;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 100px;
    background-color: black;
}


.footer {
    text-align: left;
    padding: 10px;
    border-top: 2px solid white;
    height: 60px;
    width: auto;
    font-size: 15px;
}
