body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid white;
    height: 50px;
    width: auto;
    margin-bottom: 0;
}


.logo {
    width: auto;
    height: 200px;
}

/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: flex-start;
}
ul li {
    float: left;
}
ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
}
*/
/* HERO */
.hero {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
}

.hero-img {
    width: 300px;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.pdiv {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.bio-button {
    width: 200px;
    height: 50px;
    font-size: 18px;
    border: 2px solid white;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
    background-color: black;
}

.bio-button:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}

/* FOOTER */
.footer {
    text-align: left;
    padding: 0 15px;
    border-top: 1px solid white;
    height: 50px;
    width: 100%;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    background-color: black;
}
