body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

/* HEADER */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    height: 50px;
    width: auto;
    margin-bottom: 0px;
}

.logo {
    padding-top: 0px;
    padding-bottom: 5px;
    width: 250px;
    height: auto;
}

/* HERO */
.hero {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    font-size: 70px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.hero-img {
    width: 350px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.pdiv {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.bio-button {
    width: 200px;
    height: 50px;
    font-size: 18px;
    border: 2px solid white;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: black;
    
}
.bio-button:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}


.footer {
    text-align: left;
    padding: 10px;
    border-top: 2px solid white;
    height: 50px;
    width: auto;
    font-size: 15px;
    position: relative;
    margin-top: 50px;
}
